.div__pricesRange {

    display: flex;
    margin-top: 2.8125rem;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    height: 4.1875rem;
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
}

.div__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter__title {

    width: 6.25rem;
    height: 1.875rem;

    font-style: normal;
    font-weight: 500;
    font-size: var(--font-2);
    line-height: 1.1875rem;

    color: var(--color-grey-2);
}


.div__title-prices {

    font-style: normal;
    font-weight: 600;
    font-size: var(--font-2);
    line-height: 1.1875rem;

    color: var(--color-grey-1);
}

.input__range {

    display: flex;
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    height: 0.5em;
    border-radius: 5px;
    background-color: var(--color-brand-1);
    outline: none;

}

.input__range:hover {
    opacity: 1;
    cursor: pointer;
}


.div__albums-title {
    width: 10.0625rem;
    height: 1.1875rem;

    margin-top: 1.25rem;
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-2);
    line-height: 1.1875rem;

    color: var(--color-grey-1);

}

.list__albums {
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    height: 15.625rem;
    list-style: none;
    border-radius: .25rem;

}


.list__card {
    background: var(--color-grey-8);
    width: 20.3125rem;
    height: 15.625rem;
    margin-bottom: 1.875rem;
    border-radius: var(--radius-1);
}

.card__img {
    width: 100%;
    height: 45%;
    image-rendering: pixelated;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(.jpg), url(.jpg);
    border-radius: var(--radius-1)var(--radius-1) 0rem 0rem;

}

.card__divDescription {

    padding: 1.25rem;
    display: flex;
    align-items: center;

    gap: .625rem;

    width: 11.25rem;
    height: .9375rem;


}

.card__band {
    font-style: normal;
    font-weight: 500;
    font-size: .75rem;
    line-height: .9375rem;

    color: var(--color-grey-1);
}

.card__year {
    font-style: normal;
    font-weight: 500;
    font-size: .75rem;
    line-height: .9375rem;

    color: var(--color-grey-1);
}

.card__title {
    width: 12.5rem;
    height: 1.1875rem;
    padding: .625rem;
    padding-left: 1.25rem;


    font-style: normal;
    font-weight: 600;
    font-size: var(--font-2);
    line-height: 1.1875rem;

    color: var(--color-grey-1);
}

.div__price-button {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    justify-content: space-between;

}


.card__price {
    width: 3.8125rem;
    height: 1.0625rem;

    font-style: normal;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.0625rem;
    padding-top: .625rem;
    ;

    color: var(--color-grey-1);

}

.card__button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem .5rem;
    gap: .625rem;
    margin-top: .625rem;

    width: 4.6875rem;
    height: 2rem;

    background: var(--color-grey-7);

    border: .0625rem solid var(--color-grey-7);
    border-radius: var(--radius-1);


    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 0rem;

    color: var(--color-grey-1);

}

.card__button:hover {
    background-color: var(--color-grey-6);
    cursor: pointer;
}